<h2><%= @current_user.name %>'s Collection</h2>

<form action="/artworks/new" method="get">
    <button type="submit">Add a New Artwork</button>
</form>
<br>
<form action="/artworks/sort_year" method="get">
    <button type="submit">Sort By Year</button>
</form>


<br>
<br>
<div>
<% if @artworks.size == 0 %>
    <p>You don't have any artworks to show.</p><br>
    <p>Add an artwork to your database <a href="/artworks/new">here</a>.</p>
    <% else %>
    <% @artworks.each do |artwork| %>
        <a href="/artists/<%=artwork.artist.id%>"><%= artwork.artist.name %></a><br>
        <a href="/artworks/<%= artwork.id %>"><em><%= artwork.title %></a></em>, <%= artwork.year %><br>
        <%= artwork.material %> <br>
        <%= artwork.dimensions %> <br>
        <br>
    <% end %>
<% end %> 
</div>

<!-- Options : Add artwork, Edit Account class=options or something -->
<a href="#top">Jump to top of page</a>
