<p><a href="/artists/<%= @artwork.artist.id %>"><%= @artwork.artist.name %></a><br>
<i><%= @artwork.title %></i>, <%= @artwork.year %><br>
<%= @artwork.material %><br>
<%= @artwork.dimensions %><br></p>

<a href="/artworks">See All Works</a><br>
<a href="/artworks/<%= @artwork.id %>/edit">Edit Artwork</a>
