<h2><%= @user.name %>'s Collection</h2>
<!-- Show Artworks div class="artworks" -->
<!-- <div>
<% @user.artworks.each do |artwork| %>
    <%= artwork.artist.name %> <br>
    <em><%= artwork.title %> <br>
    <%= artwork.year %> <br>
    <%= artwork.material %> <br>
    <%= artwork.dimensions %> <br>
    <% end %>
</div>

<!-- Options : Add artwork, Edit Account class=options or something -->

<a href="/logout">Log Out</a>
--> 